<div class="container mt-5" style="max-width: 400px">
  <div class="card login-card shadow-sm border-0 rounded-4">
    <div class="card-body">
      <!-- Título -->
      <div class="text-center mb-3">
        <h2 class="form-label">Recuperar contraseña</h2>

        <!-- PASO 1 -->
        <div *ngIf="step === 1">
          <form [formGroup]="formUsuario" (ngSubmit)="generarToken()">
            <div class="mb-3 input-group">
              <input
                class="form-control"
                type="text"
                placeholder="Usuario"
                formControlName="username"
              />
            </div>
            <button class="btn btn-primary w-100" type="submit">
              Enviar
            </button>
          </form>
        </div>

        <!-- PASO 2 -->
        <div *ngIf="step === 2">
          <p class="form-label">Ingresa tu nueva contraseña.</p>

          <form [formGroup]="formReset" (ngSubmit)="resetearPassword()">
            <div class="mb-3 input-group">
              <input
                class="form-control"
                [type]="mostrarPassword ? 'text' : 'password'"
                placeholder="Nueva contraseña"
                formControlName="nuevaPassword"
              />
              
              <button
                type="button"
                class="btn btn-outline-secondary"
                title="Mantén presionado para ver la contraseña"
                (mousedown)="mostrar()"
                (mouseup)="ocultar()"
                (mouseleave)="ocultar()"
                (touchstart)="mostrar()"
                (touchend)="ocultar()"
              >
                <i class="bi bi-eye"></i>
              </button>
            </div>
            <!-- FORTALEZA DE CONTRASEÑA -->
              <div class="progress mt-1" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [class.bg-danger]="passwordStrength === 'Débil'"
                  [class.bg-warning]="passwordStrength === 'Media'"
                  [class.bg-success]="passwordStrength === 'Fuerte'"
                  [style.width]="
                    passwordStrength === 'Débil'
                      ? '33%'
                      : passwordStrength === 'Media'
                        ? '66%'
                        : '100%'
                  "
                ></div>
              </div>
            <!-- MENSAJES DE VALIDACIÓN -->
            <div
              class="text-start small text-danger"
              *ngIf="
                formReset.get('nuevaPassword')?.invalid &&
                formReset.get('nuevaPassword')?.touched
              "
            >
              <div *ngIf="formReset.get('nuevaPassword')?.errors?.['required']">
                La contraseña es obligatoria
              </div>

              <div
                *ngIf="formReset.get('nuevaPassword')?.errors?.['minlength']"
              >
                Debe tener al menos 8 caracteres
              </div>

              <div *ngIf="formReset.get('nuevaPassword')?.errors?.['pattern']">
                Debe contener mayúsculas, minúsculas, números y caracter
                especial.
              </div>
            </div>

            <button
              class="btn btn-primary w-100 mt-3"
              type="submit"
              [disabled]="formReset.invalid || passwordStrength === 'Débil'"
            >
              Actualizar contraseña
            </button>
          </form>
        </div>

        <!-- PASO 3 -->
        <div *ngIf="step === 3">
          <p class="form-label">{{ mensaje }}</p>
          <a routerLink="/login">Volver al login</a>
        </div>

        <p class="form-label" *ngIf="mensaje && step !== 3">{{ mensaje }}</p>
      </div>
    </div>
  </div>
</div>
