<div class="container">
  <form (ngSubmit)="onSubmit(formProducto)" #formProducto="ngForm" novalidate>

    <!-- 🔹 Título dinámico -->
    <div class="text-center mb-4">
      <h4 class="fw-bold">
        <i class="bi bi-tags-fill text-white fs-4 me-2"></i>
        {{ formModel.idProducto ? 'Editar Producto' : 'Nuevo Producto' }}
      </h4>
    </div>

    <!-- FIELDSET: PRODUCTO -->
    <fieldset class="fieldset-modern mb-4">
      <legend>
        <i class="bi bi-box-seam me-1"></i>
        Datos Producto
      </legend>

      <div class="row g-4">
        <!-- Nombre -->
        <div class="col-md-4">
          <label for="nombreProducto" class="form-label">
            <i class="bi bi-tag me-1"></i>
            Nombre de Producto
          </label>
          <input
            type="text"
            id="nombreProducto"
            name="nombreProducto"
            class="form-control"
            [(ngModel)]="formModel.nombreProducto"
            [ngModelOptions]="{standalone: true}"
            required
            minlength="3"
            placeholder="Ej: Celular Xiaomi">

          <div *ngIf="formProducto.submitted && !formModel.nombreProducto"
               class="text-danger small mt-1">
            El nombre es obligatorio.
          </div>
        </div>

        <!-- Stock mínimo -->
        <div class="col-md-4">
          <label for="stockMinimo" class="form-label">
            <i class="bi bi-archive me-1"></i>
            Stock minimo de producto
          </label>
          <input
            type="text"
            id="stockMinimo"
            name="stockMinimo"
            class="form-control"
            [(ngModel)]="formModel.stockMinimo"
            [disabled]="deshabilitarStockMinimo"
            [ngModelOptions]="{standalone: true}"
            required
            minlength="3"
            placeholder="Ej: 50">

          <div *ngIf="formProducto.submitted && !formModel.stockMinimo"
               class="text-danger small mt-1">
            El stock minimo es obligatorio.
          </div>
        </div>

        <!-- Código -->
        <div class="col-md-4" *ngIf="!tieneCodigoProducto">
          <label for="codigoProducto" class="form-label">
            <i class="bi bi-upc-scan me-1"></i>
            Codigo de Producto
          </label>
          <input
            type="text"
            id="codigoProducto"
            name="codigoProducto"
            class="form-control"
            [(ngModel)]="formModel.codigoProducto"
            [ngModelOptions]="{standalone: true}"
            [disabled]="tieneCodigoProducto"
            placeholder="El codigo se generara de forma automatica"
            readonly>

          <div *ngIf="formProducto.submitted && !formModel.codigoProducto"
               class="text-danger small mt-1">
            El codigo es obligatorio.
          </div>
        </div>

        <!-- Precio Venta -->
        <div class="col-md-4" *ngIf="esAdminSistema" >
          <label for="precioVenta" class="form-label">
            <i class="bi bi-cash-coin me-1"></i>
            Precio de venta del Producto
          </label>
          <input
            type="number"
            id="precioVenta"
            name="precioVenta"
            class="form-control"
            [(ngModel)]="formModel.precioVenta"
            [ngModelOptions]="{standalone: true}"
            placeholder="Ingrese el precio de venta correspondiente">
        </div>
      </div>
    </fieldset>

    <!-- FIELDSET: OTROS DATOS -->
    <fieldset class="fieldset-modern mb-4">
      <legend>
        <i class="bi bi-sliders me-1"></i>
        Otros datos de producto
      </legend>

      <div class="row g-4">
        <!-- Categoría -->
        <div class="col-md-6">
          <label class="form-label">
            <i class="bi bi-folder2-open me-1"></i>
            Categoria del Producto
          </label>
          <select
            class="form-select"
            name="idCategoria"
            [(ngModel)]="formModel.idCategoria"
            required>
            <option [ngValue]="null" disabled>Seleccione...</option>
            <option *ngFor="let categoria of categorias"
                    [ngValue]="categoria.idCategoria">
              {{ categoria.nombreCategoria }}
            </option>
          </select>
        </div>

        <!-- Unidad de medida -->
        <div class="col-md-6">
          <label class="form-label">
            <i class="bi bi-rulers me-1"></i>
            Unidad de Medida del Producto
          </label>
          <select
            class="form-select"
            name="idUnidadMedida"
            [(ngModel)]="formModel.idUnidadMedida"
            required>
            <option [ngValue]="null" disabled>Seleccione...</option>
            <option *ngFor="let unidad of unidadMedida"
                    [ngValue]="unidad.idUnidadMedida">
              {{ unidad.nombreMedida }}
            </option>
          </select>
        </div>

        <!-- Proveedor -->
        <div class="col-md-6">
          <label class="form-label">
            <i class="bi bi-truck me-1"></i>
            Proveedor del Producto
          </label>
          <select
            class="form-select"
            name="idProveedor"
            [(ngModel)]="formModel.idProveedor"
            required>
            <option [ngValue]="null" disabled>Seleccione...</option>
            <option *ngFor="let proveedor of proveedores"
                    [ngValue]="proveedor.idProveedor">
              {{
                proveedor.razonSocial.trim()
                  ? proveedor.razonSocial
                  : (proveedor.nombre + ' ' + proveedor.apellido + ' ' + proveedor.segundoApellido)
              }}
            </option>
          </select>
        </div>

        <!-- Impuesto -->
        <div class="col-md-6">
          <label class="form-label">
            <i class="bi bi-percent me-1"></i>
            Impuesto del Producto
          </label>
          <select
            class="form-select"
            name="idImpuesto"
            [(ngModel)]="formModel.idImpuesto"
            required>
            <option [ngValue]="null" disabled>Seleccione...</option>
            <option *ngFor="let impuesto of impuestos"
                    [ngValue]="impuesto.idImpuesto">
              {{ impuesto.tipoImpuesto }} {{ impuesto.porcentaje * 100 + ' %' }}
            </option>
          </select>
        </div>
      </div>
    </fieldset>

    <!-- Descripción -->
    <div class="mb-3">
      <label for="descripcion" class="form-label">
        <i class="bi bi-card-text me-1"></i>
        Descripción
      </label>
      <textarea
        id="descripcion"
        name="descripcion"
        class="form-control"
        [(ngModel)]="formModel.descripcion"
        [ngModelOptions]="{standalone: true}"
        required
        rows="3"
        placeholder="Breve descripción del producto">
      </textarea>

      <div *ngIf="formProducto.submitted && !formModel.descripcion"
           class="text-danger small mt-1">
        La descripción es obligatoria.
      </div>
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-2"
        data-bs-dismiss="modal">
        <i class="bi bi-x-circle me-1"></i>
        Cancelar
      </button>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="formProducto.invalid">
        <i class="bi bi-save me-1"></i>
        {{ formModel.idProducto ? 'Guardar cambios' : 'Agregar Producto' }}
      </button>
    </div>

  </form>
</div>