<div class="container mt-5" style="max-width: 450px">
  <div class="card cambiarpassword-card shadow-sm border-0 rounded-4">
    <div class="card-body">
      <!-- Título -->
      <h3 class="form-label mb-4 text-center">
        <i class="bi bi-shield-lock-fill me-2 text-primary"></i>
        Cambiar contraseña
      </h3>

      <form [formGroup]="form" (ngSubmit)="cambiarPassword()">
        <!-- Contraseña actual -->
        <div class="mb-3">
          <label class="form-label">
            <i class="bi bi-lock-fill me-1 text-secondary"></i>
            Contraseña actual
          </label>
          <input
            type="password"
            class="form-control"
            formControlName="passwordActual"
          />
        </div>

        <!-- Nueva contraseña -->
        <div class="mb-2">
          <label class="form-label">
            <i class="bi bi-key-fill me-1 text-warning"></i>
            Nueva contraseña
          </label>

          <div class="input-group">
            <input
              [type]="mostrarPassword ? 'text' : 'password'"
              class="form-control"
              formControlName="passwordNueva"
            />

            <button
              type="button"
              class="btn btn-outline-secondary"
              title="Mantén presionado para ver la contraseña"
              (mousedown)="mostrar()"
              (mouseup)="ocultar()"
              (mouseleave)="ocultar()"
              (touchstart)="mostrar()"
              (touchend)="ocultar()"
            >
              <i class="bi bi-eye"></i>
            </button>
          </div>
        </div>

        <div
          class="progress mb-2"
          style="height: 6px"
          *ngIf="form.get('passwordNueva')?.value"
        >
          <div
            class="progress-bar"
            [class.bg-danger]="passwordStrength === 'Débil'"
            [class.bg-warning]="passwordStrength === 'Media'"
            [class.bg-success]="passwordStrength === 'Fuerte'"
            [style.width]="
              passwordStrength === 'Débil'
                ? '33%'
                : passwordStrength === 'Media'
                  ? '66%'
                  : '100%'
            "
          ></div>
        </div>

        <!-- Validación -->
        <div
          class="text-danger small"
          *ngIf="
            form.get('passwordNueva')?.invalid &&
            form.get('passwordNueva')?.touched
          "
        >
          <div *ngIf="form.get('passwordNueva')?.errors?.['required']">
            La contraseña es obligatoria
          </div>

          <div *ngIf="form.get('passwordNueva')?.errors?.['minlength']">
            Debe tener mínimo 8 caracteres
          </div>

          <div *ngIf="form.get('passwordNueva')?.errors?.['pattern']">
            Debe incluir mayúsculas, minúsculas, números y un carácter especial
          </div>
        </div>

        <!-- Botón -->
        <button
          class="btn btn-primary w-100 mt-3"
          type="submit"
          [disabled]="loading || form.invalid || passwordStrength === 'Débil'"
        >
          <i
            class="bi"
            [ngClass]="loading ? 'bi-arrow-repeat' : 'bi-check-circle-fill'"
            class="me-1"
          ></i>
          {{ loading ? "Actualizando..." : "Cambiar contraseña" }}
        </button>
      </form>
    </div>
  </div>
</div>
