<div class="row mb-3">
  <div class="col-md-3">
    <label>Desde</label>
    <input type="date" class="form-control" [(ngModel)]="desde">
  </div>

  <div class="col-md-3">
    <label>Hasta</label>
    <input type="date" class="form-control" [(ngModel)]="hasta">
  </div>

  <div class="col-md-3 d-flex align-items-end">
    <button class="btn btn-primary w-100" (click)="filtrar()">
      Filtrar
    </button>
  </div>
</div>

<button class="btn btn-success btn-sm" (click)="descargarExcel()">
  <i class="bi bi-file-earmark-excel"></i> Exportar Excel
</button>
<button class="btn btn-danger btn-sm" (click)="descargarPdf()">
  <i class="bi bi-file-earmark-pdf"></i> Exportar PDF
</button>

<table class="table table-bordered table-sm">
  <thead class="table-dark">
    <tr>
      <th>Fecha</th>
      <th>Origen</th>
      <th>Tipo</th>
      <th>Cantidad</th>
      <th>Observación</th>
      <th>Producto</th>
      <th>Proveedor</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let movimiento of movimientoInventarios" [ngClass]="{
    'table-success': movimiento.tipoMovimiento === 'ENTRADA',
    'table-danger': movimiento.tipoMovimiento === 'SALIDA'
  }">
      <td>{{ movimiento.fechaMovimiento | date:'dd/MM/yyyy HH:mm'}}</td>
      <td>{{ movimiento.origenMovimiento }}</td>
      <td>
  <span
    class="d-flex align-items-center gap-1 fw-bold"
    [ngClass]="{
      'text-success': movimiento.tipoMovimiento === 'ENTRADA',
      'text-danger': movimiento.tipoMovimiento === 'SALIDA'
    }"
  ><i class="bi"
      [ngClass]="{
        'bi-arrow-up-circle-fill': movimiento.tipoMovimiento === 'ENTRADA',
        'bi-arrow-down-circle-fill': movimiento.tipoMovimiento === 'SALIDA'
      }"
    ></i>
    {{ movimiento.tipoMovimiento }}
  </span>
</td>
      <td class="fw-bold" 
      [ngClass]="{
        'text-success': movimiento.tipoMovimiento === 'ENTRADA',
        'text-danger': movimiento.tipoMovimiento === 'SALIDA'}"> 
      <i class="bi"
      [ngClass]="{
        'bi-arrow-up-circle-fill': movimiento.tipoMovimiento === 'ENTRADA',
        'bi-arrow-down-circle-fill': movimiento.tipoMovimiento === 'SALIDA'
      }"
    ></i> {{ movimiento.cantidad }}
  </td>        
      <td>{{ movimiento.observacion }}</td>
      <td>{{ movimiento.idProducto }}</td>
      <td>{{ movimiento.idProveedor }}</td>
    </tr>
  </tbody>
</table>
