<div class="container mt-4">
    <div class="text-center mb-4">
        <h5 class="text-muted">Listado de Ciudades</h5>
        <button class="btn btn-primary" (click)="abrirModalEditar()" ><i class="bi bi-plus-circle"></i> Nueva Ciudad</button>
    </div>

    <!-- Loader -->
    <div *ngIf="loading" class="text-center my-4">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="mt-2 text-muted">Cargando ciudades...</p>
    </div>

    <!-- Si no hay ciudades -->
    <div *ngIf="!loading && ciudades.length === 0" class="alert alert-info text-center mt-3">
        No hay ciudades registradas.
    </div>

    <!-- 🔹 Tarjetas -->
  <div class="row g-4" *ngIf="!loading && ciudades.length > 0">
    <div class="col-md-4" *ngFor="let ciudad of ciudades">
      <div class="card shadow-sm border-0 h-100">
        <div class="card-body">
          <h5 class="card-title text-primary">
            <i class="fa-solid fa-city"></i>{{ ciudad.ciudad }}
          </h5>
          <p>
            <span class="badge" [class.bg-success]="ciudad.activo" [class.bg-secondary]="!ciudad.activo">
              {{ ciudad.activo ? 'Activo' : 'Inactivo' }}
            </span>
          </p>
        </div>
        <div class="card-footer bg-light text-center">
          <button class="btn btn-warning btn-sm me-2" (click)="abrirModalEditar(ciudad)">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="eliminarCategoria(ciudad.idCiudad!)">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>

   <!-- 🔹 Modal -->
  <div #modalCiudad class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-warning text-dark">
          <h5 class="modal-title">
            {{ ciudadSeleccionada ? 'Editar Ciudad' : 'Agregar Ciudad' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
          <app-ciudad-form
            [ciudad]="ciudadSeleccionada"
            (formGuardado)="cerrarModalYActualizarLista()">
          </app-ciudad-form>
        </div>
      </div>
    </div>
  </div>
</div>